@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
        transform: translateY(20px);
    }
    50% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blinkCursor {
    from { border-right: 2px solid transparent; }
    to { border-right: 2px solid white; }
}

@keyframes backgroundChange {
    0% {
        background: linear-gradient(to right, #68ebf7, #317aba); 
    }
    20% {
        background: linear-gradient(to right, #23303e, #2575fc); 
    }
    40% {
        background: linear-gradient(to right, #00c6ff, #0072ff); 
    }
    60% {
        background: linear-gradient(to right, #00c6ff, #0072ff); 
    }
    80% {
        background: linear-gradient(to right, #9a53dd, #0d3a67); 
    }
    100% {
        background: linear-gradient(to right, #68ebf7, #317aba);
    }
}

.header-background {
    animation: backgroundChange 9s infinite;
}

.title-text-wrapper {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    width: 100%;
    padding-left: 5rem; 
}

.title-text {
    display: inline-block;
    font-size: 2rem; /* Yazı boyutunu ayarladık */
    color: white;
    font-weight: bold;
    text-transform: capitalize; /* Yazı stilini belirliyoruz (baş harf büyük) */
    font-family: 'Roboto', sans-serif; /* Yazı tipi değişikliği */
    letter-spacing: 0.05em; /* Harfler arasına biraz boşluk ekliyoruz */
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid white; /* Yanıp sönme efekti için imleç */
    animation: typing 4s steps(40, end) infinite, blinkCursor 0.75s step-end infinite;
}

.title-char {
    display: inline-block;
    animation: fadeInOut 2s infinite;
    font-family: 'Roboto', sans-serif; /* Yazı tipi değişikliği */
}

.title-char:nth-child(odd) {
    animation-delay: 0.5s; /* Harfler arasında gecikme */
}
