.home-container {
  background-size: cover;
  background-position: center;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.hero-overlay {
  background: rgba(0, 0, 0, 0.5);
  padding: 2rem;
  border-radius: 8px;
}

.reviews-container {
  margin: 4rem auto;
  max-width: 800px;
  padding: 0 1rem;
}

.review-slide {
  padding: 1rem;
  background: rgba(4, 54, 54,0.1);
  border-radius: 12px;
  margin: 0 1rem;
}

.rating {
  font-size: 1.5rem;
  color: #cccccc;
}

.star {
  color: #ffd700;
  font-size: 1.5rem;
}

.star.filled {
  color: #ffd700;
}

/* Çerçeve için stil eklemeleri */
.frame-container {
  border: 5px solid hsl(187, 67%, 53%); /* Çerçeve rengi - canlı pembe */
  border-radius: 20px;
  padding: 3px;
  margin: 2rem auto;
  max-width: 100%; /* Genişliği ayarladık */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* Gölge efekti */
  background: linear-gradient(135deg, #8be9fd, #a473e0); /* Canlı bir arka plan rengi */
}

@keyframes slidingStripes {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.home-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-image: linear-gradient(45deg, rgba(255, 0, 150, 0.3), rgba(0, 204, 255, 0.3));
  background-size: 200% 200%;
  background-repeat: no-repeat;
  animation: slidingStripes 10s linear infinite;
  z-index: -1;
}

h1.text-5xl {
  color: #f0f0f0;
}

p.text-center {
  color: #d0d0d0;
}
